<h2>Actualités</h2>
<div class="columns columns-3">
  {{ range first 3 (sort (where .Site.RegularPages "Section" "blog")
  "Params.date" "desc") }}
  <a href="{{ .RelPermalink }}" class="column-link" style="display: block; color: inherit; text-decoration: none;">
  <div class="column">
    {{ with .Params.image }}
    <p><img src="{{ . }}"  alt="Placeholder" loading="lazy" /></p>
    {{ else }}
    <p><img src="/img/placeholder.svg" alt="Placeholder" loading="lazy" /></p>
    {{ end }}
    <h3>{{ .Title }}</h3>
    {{ with .Params.description }}
    <p>{{ . }}</p>
    {{ end }} 
    {{ with .Params.date }}
    {{ $date := time . }}
    {{ $monthsFr := dict "January" "janvier" "February" "février" "March" "mars" "April" "avril" "May" "mai" "June" "juin" "July" "juillet" "August" "août" "September" "septembre" "October" "octobre" "November" "novembre" "December" "décembre" }}
    {{ $monthEn := $date.Format "January" }}
    {{ $monthFr := index $monthsFr $monthEn }}
    {{ $day := $date.Format "02" }}
    {{ $year := $date.Format "2006" }}
    <h4>{{ $day }} {{ $monthFr }} {{ $year }}</h4>
  {{ end }}
  </div>
  </a>
  {{ end }}
</div>
<div style="text-align: right; margin-top: 0.1em;">
  <a href="/blog/" class="button">Voir toutes les actus</a>
</div>
<div class="spacer-20" aria-hidden="true"></div>
